{% extends 'extends/skeleton.html' %}

{% block body %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MySite</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if current_view == 'index' %}class="active"{% endif %}>
          <a href="{% url 'rubychina:index' %}">
          Index <span class="sr-only">(current)</span>
          </a>
        </li>
        <li {% if current_view == 'articles' %}class="active"{% endif %}>
          <a href="{% url 'rubychina:articles' %}">
            Articles
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
        <li><a href="{% url 'rubychina:login' %}?next={{ current_view }}">Login</a></li>
        <li><a href="{% url 'rubychina:register' %}?next={{ current_view }}">Register</a></li>
        {% endif %}

        {% if user.is_authenticated %}
        <li>
          <a href="javaScript:void(0)">
          Welcome,
          {{user.username}}
          </a>
        </li>
        <li><a href="{% url 'rubychina:logout' %}?current_view={{ current_view }}">Logout</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% include 'includes/messages.html' %}

<div class="container-fluid">
  {% block content %}
  {% endblock %}
</div>
{% endblock %}
